* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #f39c12, #e74c3c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-app {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.app-title {
  font-size: 32px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input {
  width: 80%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.task-input:focus {
  border: 2px solid #e74c3c;
}

.add-btn {
  width: 15%;
  padding: 15px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #c0392b;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #f8f8f8;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.task-item:hover {
  background-color: #f0f0f0;
}

.task-text {
  font-size: 18px;
  color: #555;
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: #e74c3c;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-btn:hover {
  color: #c0392b;
}

.completed {
  text-decoration: line-through;
  color: #bbb;
}
